<?xml version="1.0"?>
<robot name="box_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:arg name="px1" default="1"/>
<xacro:arg name="pz2" default="1"/>
<xacro:arg name="n_90_grad2" default="1"/>




<xacro:property name="n_90_grad2" value="$(arg n_90_grad2)"/> <!-- Se pasa a propiedad para poder hacer cálculos con ella -->
<xacro:property name="angulo_recto" value="${pi/2}"/>




<xacro:macro name="create_link" params="name xyz:='0 0 0' rpy:= '0 0 0'">
  <link name="${name}">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry>
        <box size="0.4 0.2 1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry>
        <box size="0.4 0.2 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <mass value="2.0"/>
      <inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
</xacro:macro>


<xacro:macro name="create_joint" params="name parent child xyz:= '0 0 0' rpy:= '0 0 0'">
  <joint name="${name}" type="fixed">
    <parent link="${parent}"/>
    <child link="${child}"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>
</xacro:macro>










<xacro:create_link name="base_link"/>

<xacro:create_joint name="joint1" parent="base_link" child="link1" xyz="$(arg px1) 0 0"/>

<xacro:create_link name="link1"/>

<xacro:create_joint name="joint2" parent="link1" child="link2" xyz="0 0 $(arg pz2)" rpy="0 0 ${angulo_recto*n_90_grad2}"/>

<xacro:create_link name="link2"/>

</robot>
